In [5]:
print("hello")

hello

In [7]:
name= "somu"

In [8]:
print("diksangi",name)

diksangi somu

#farmat specifier

In [9]:
a=10
print("value of a %d"%a)

value of a 10

In [10]:
print("hello%s"%(name))

hellosomu

In [11]:
b=50

In [15]:
print(b)
print("the vale of b is",b)
print("the vale of b is %d"%b)
print("the valu of b is {}".format(b))

50
the vale of b is 50
the vale of b is 50
the valu of b is 50

In [16]:
a=100
b=200
print("the vlue of a {} the value of b {}".format(a,b))

the vlue of a 100 the value of b 200

In [20]:
x=50
if x>50:
    print("we are in")
if x<50:
    print("we are in 3")

else:
    print("we are out")

we are out

In [24]:
if x<50:
    print("we are in first")

elif x>50:
    print("we are in secomd ")

elif x==50:
    print("we are in thrid")

else:
    print("we are in fourth ")

we are in thrid

In [29]:
a=int(input("enter a number "))
if a %2==0:
    print("even number ")

else:
    print("odd number ")

enter a number  28

even number

In [32]:
ch=input("enter the char")
if "A"<=ch<="Z":
    print("capital latter ")

else:
    print("small latter ")

enter the char A

capital latter

#nasted if

In [34]:
a=100
b=200
if a<110:
    if b<210:
        print("we are in")

we are in